<section class="section">
    <div class="container" id="upperTitle">
        <h1 class="title">
            Welcome to Daily Standup +
        </h1>
        <h2 class="subtitle">
            The project management tool that helps you keep your team synchronized and productive.
        </h2>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <p class="subtitle is-5">
                    Daily Standup + is designed to streamline your team's daily standup meetings and enhance collaboration. With our intuitive interface, you can easily track progress, identify blockers, and celebrate achievements.<br>
                    Whether you're working remotely or in the office, Daily Standup + keeps everyone on the same page. Sign up today and experience the benefits of a more organized and efficient team!
                </p>
            </div>

            <div class="column is-half">
                <figure class="image is-16by-9">
                    <img class="image is-rounded" src="/images/IntroChange.jpg" alt="Imagen de oficina">
                </figure>
            </div>
        </div>
    </div>
</section>