    <footer class="footer">
      <div class="content has-text-centered">
        <p class="subtitle is-5">
          <strong>Daily Standup+</strong> - © 2026. All rights reserved.
        </p>
      </div>
    </footer>
        </div>
      </body>
    </html>