<!DOCTYPE html>
<html data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Standup+</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" style="margin-left: 50px; height: 100px; width: 200px;" href="/homepage">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Change.org_logo.svg/500px-Change.org_logo.svg.png" alt="Logo Daily Standup+" style="max-height: 70px;">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="false"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!-- This will only appear if the user is in reports -->
    <% if (urlActual.startsWith('/reports')) { %>
      <a href="/reports/user" class="navbar-item">
        Users
      </a>
      <a href="/reports/team" class="navbar-item">
        Teams
      </a>
      <a href="/reports/project" class="navbar-item">
        Projects
      </a>
    <% } %>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if (username=='' ) { %>
              <a class="button is-warning" href="/users/login">
                Log in
              </a>
              <% } else { %>
                <a class="button is-warning" href="/users/logout">
                  Log out
                </a>
                <% } %>
          </div>
        </div>
      </div>
    </div>
  </nav>