<!DOCTYPE html>
<html data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Standup+</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/cssExtraStyles.css"> 
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" style="margin-left: 50px; height: 100px; width: 200px;" href="/homepage">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Change.org_logo.svg/500px-Change.org_logo.svg.png"
          alt="Logo Daily Standup+" style="max-height: 70px;">
      </a>

    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a href="/reports/user" class="navbar-link">
        Users
      </a>
      <div class="navbar-dropdown">
        <a href="/reports/user" class="navbar-item">Object1</a>
        <a href="/reports/user" class="navbar-item">Object2</a>
      </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a href="/teams/list" class="navbar-link">
        Teams
      </a>
      <div class="navbar-dropdown">
        <a href="/teams" class="navbar-item">Object1</a>
        <a href="/teams" class="navbar-item">Object2</a>
      </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a href="/reports/project" class="navbar-link">
        Projects
      </a>
      <div class="navbar-dropdown">
        <a href="/reports/project" class="navbar-item">Object1</a>
        <a href="/reports/project" class="navbar-item">Object2</a>
      </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable">
      <a href="/reports/project" class="navbar-link">
        Highlights
      </a>
      <div class="navbar-dropdown">
        <a href="/reports/project" class="navbar-item">Object1</a>
        <a href="/reports/project" class="navbar-item">Object2</a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/homepage" class="button is-primary">
            <b>Register Daily Standup</b>
          </a>
          <% if (username=='' ) { %>
            <a class="button is-link" href="/users/login">
              Log in
            </a>
            <% } else { %>
              <a class="button is-danger" href="/users/logout">
                Log out
              </a>
              <% } %>
        </div>
      </div>
    </div>
    </div>
  </nav>