<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Standup+</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/cssExtraStyles.css"> 
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" style="margin-left: 50px; height: 100px; width: 200px;" href="/homepage">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Change.org_logo.svg/500px-Change.org_logo.svg.png"
          alt="Logo Daily Standup+" style="max-height: 70px;">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu">
      <div class="navbar-start">
        <% if (isLoggedIn) { %>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/users/list" class="navbar-link">Users</a>
          <div class="navbar-dropdown">
            <a href="/users/add" class="navbar-item">Register New User</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/teams/list" class="navbar-link">Teams</a>
          <div class="navbar-dropdown">
            <a href="/teams/add" class="navbar-item">Register New Team</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/reports/project" class="navbar-link">Projects</a>
          <div class="navbar-dropdown">
            <a href="/projects/add" class="navbar-item">Create project</a>
            <a href="/reports/project" class="navbar-item">Project reports</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="/reports/project" class="navbar-link">Highlights</a>
          <div class="navbar-dropdown">
            <a href="/reports/project" class="navbar-item">Object1</a>
            <a href="/reports/project" class="navbar-item">Object2</a>
          </div>
        </div>
        <% } %>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if (!isLoggedIn) { %>
              <a class="button is-primary" href="/login">Log in</a>
            <% } else { %>
              <a href="/daily_standup" class="button is-primary"><b>Register Daily Standup</b></a>
              <a class="button is-danger" href="/logout">Log out</a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- This is supposed to be a hamburguer menu on mobile -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const burger = document.querySelector('.navbar-burger');
      const menu = document.getElementById(burger.dataset.target);
      burger.addEventListener('click', () => {
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
      });
    });
  </script>