<%- include('includes/_header') %>

<section class="section">
    <div class="container" id="upperTitle">
        <h1 class="title">
            Welcome to Daily Standup+
        </h1>
        <h2 class="subtitle">
            The project management tool that helps you keep your team synchronized and productive.
        </h2>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half">
                <p class="subtitle is-5">
                    Daily Standup+ is the next evolution of the Daily Standup you are used to, but improved in many new ways. <br>
                    Here you can search in a centralized place all the reports of your team and find them easily. <br>
                    You can also generate reports with the help of AI to get a more usefull text that highligthts the 
                    progress of a specific member, how the team is doing and how is the progress goes in a specific project.
                </p>
            </div>

            <div class="column is-half">
                <figure class="image is-16by-9">
                    <img class="image is-rounded" src="/images/IntroChange.jpg" alt="Imagen de oficina">
                </figure>
            </div>
        </div>
    </div>
</section>

<%- include('includes/_footer') %>
